a.brnd{
	color:black;
	font-size:20px;
	font-weight: 700;
}
a.abc{
	font-size: 18px;
	color:grey;
}
a.abc:hover{

	color:black;
}

a.abcm{
	background-color: blue;
	color: white;
	border-radius: 50px;
}

a.abcm:hover{
	background-color: darkblue;
}

/*nav completed*/

.avatar{
	width: 250px;
}

.curved1{
	background-color: white;
	width: 100%;
	height: 120px;
	 border-bottom-left-radius:100%;
    border-bottom-right-radius:100%;
}

.curved2{
	background-color: #f2f6fc;
	width: 100%;
	height: 120px;
	 border-bottom-left-radius:100%;
    border-bottom-right-radius:100%;
}


.mid{
	background-color: #f2f6fc;
}

.icon{
	border-radius: 100%;
}
.favicon{
	color: white;
	font-size: 40px;
}


.box{
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
	border-radius: 10px;
}

.box img{
	width: 100%;
	height: auto;
}
.box .content{
	color:#fff;
	background-color:rgba(0,97,242,0.8);
	top :100%;
	left :0;
	width: 100%;
	height: 100%;
	transition: all 0.1s ;
	position: absolute;
	box-sizing: border-box;
}

.box:hover .content{
	top:0;
}

.box:hover .content h3{
	font-size: 15px;
	font-weight: 700;
	position: absolute;
	top: 40%;
	left: 40%;
}

.box:hover img{
	transform: scale(1.3);
}

.con{
	background-color: white;
	width: 340px;
}

.ico-c1{
	background-color: #f76400;
	border-radius: 100%;
	font-size: 30px;
	color: white;

}

.ico-c2{
	background-color: #00ac69;
	border-radius: 100%;
	font-size: 30px;
	color: white;
}

.end{
	background-color: #212832;
	color: #998c80;
}
@media (max-width: 991px){
	
	.box .content{
		position: relative;
		background-color: white;
		color: black;
		box-sizing: border-box;	
	}
	.box .content h3{
		padding-bottom: 20px;

	}
	.box:hover img{
	transform: scale(1);
}
	.box:hover .content h3{
		position: relative;	
		text-align: center;
}

.box:hover .content{
	top:0;
	position: relative;
}


}

@media (max-width: 768px){
	.con{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}






