

.biglogo
{
	width: 100%;
	height: 100%;
	position: relative;
	top:-150px;
	right: -50px;
	transform: scale(1.2);
}
.biglogo2
{
	width: 100%;
	height: 100%;
	position: relative;
	top: -100px;
	transform: scale(1.7);
}
h4{
	font-family: raleway;
}
p{
	font-size: 19px;
}

.smalllogo{
	width: 20%;
	margin-left: auto;
}
.nav-link{
	font-size: 19px;
	font-family: Raleway ;
	font-weight: 450;
}

.active{
	color: #c9101a;
	border-bottom: 2px solid #c9101a;
}

.active:hover{
	color:#c9101a;
}

a{
	color: black;
}

a:hover{
	text-decoration: none;
	color: black;
}

.cir{
	border: 2px solid #c9101a;
	border-radius: 50%;
	font-size: 15px;
	font-weight: bolder;
	color: #c9101a;
}


.con1{
	width: 42%;
	background-color:#f3a822 ;
	border-radius: 50%;
}

.con2{
	width: 42%;
	background-color:#fa2635 ;
	border-radius: 50%;
}

.arr{
	color: #fa2635 ;
}
